@model TeacherQueue.Models.ViewModels.IndexViewModel
@using Microsoft.CodeAnalysis
<!DOCTYPE html>

<html>
<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
</head>
<body>
    <div class="text-center">
        <h2>Welcome to Teacher Queue!</h2>
        <h3>If you are a teacher, please log in!</h3>
        @Html.ActionLink("Login", "Login", "Teacher", null, new { @class = "btn btn-lg btn-primary" })
        <br />
        <h3>If you are a student, please select the teacher you want to queue for!</h3>
        @using (Html.BeginForm("QueueView", "Queue"))
        {
            @Html.DropDownListFor(m=>m.SelectedTeacherId, (IEnumerable
                <SelectListItem>)ViewData["TeacherQueuesList"], "Choose a Teacher!")
            <input type="submit" value="View Queue" class="btn btn-lg btn-primary" />
        }
    </div>
</body>
</html>